@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
}

header {
    width: 1000px;
    margin: 0 auto;
    background-color: #fcc;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#main {
    width: 700px;
    background-color: #cfc;
}

#menu {
    width: 300px;
    background-color: #ccf;
}

footer {
    width: 1000px;
    margin: 0 auto;
    background-color: #fcf;
}
